@page "/"

<PageTitle>Home</PageTitle>

<h1>Want some pie?</h1>

<p>One popular use case for Blazor is as a tool for creating internal dashboards. That’s the kind of situation where charts could come in very handy. As an exercise, I set about writing my own charting logic. Take a look!</p>
